<p id="notice"><%= notice %></p>

<h1 style="text-align:center;text-shadow:2px 2px 4px #000000;color:#ffffff;font-family:Arial;height:20%;">Topics</h1>

<table>
  <thead>
    <tr>
      <th style="color:#d3d3d3;font-size:15px;font-family:Arial;background-color: #152238;">Title</th>
      <th style="color:#d3d3d3;font-size:15px;font-family:Arial;background-color: #152238;">Description</th>
      <th colspan="5" style="color:#d3d3d3;font-size:15px;font-family:Arial;background-color: #152238;"></th>
      </th>
    </tr>
  </thead>

  <tbody>
  <hr style= "border-top: 1px solid #A117f2">
  <% @topics.each do |topic| %>
    <tr>
      <td style= "background-color:#cfcfc4;border: 2px solid #cfcfc4;"><%= topic.title %></td>
      <td style= "background-color:#dcdcdc;border: 2px solid #dcdcdc;"><%= topic.description %></td>
      <td style= "background-color:#cfcfc4;border: 2px solid #cfcfc4;"><%= pluralize(topic.votes.count, "vote") %></td>
      <td style= "background-color:#dcdcdc;border: 2px solid #dcdcdc;"><%= button_to '+1', upvote_topic_path(topic), method: :post %></td>
      <td style= "background-color:#cfcfc4;border: 2px solid #cfcfc4;"><%= link_to 'Show', topic %></td>
      <td style= "background-color:#dcdcdc;border: 2px solid #dcdcdc;"><%= link_to 'Edit', edit_topic_path(topic) %></td>
      <td style= "background-color:#cfcfc4;border: 2px solid #cfcfc4;"><%= link_to 'Destroy', topic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
